.App {
  text-align: center;
}
.main-bg{
  background-color: rgb(181, 247, 214);
  text-align: center;
  height: max-content;
}
.main-bg-1{
  background-color: rgb(181, 247, 214);
  text-align: center;
  height: 200px;
}
.test-2{
  text-decoration: none;
  color: black;
}
.test-2:hover{
  text-decoration: none;
  color: black;
}
.navlink{
  color: white;
}

.pd-1{
  padding-top: 7px;
  display: flex;
  flex-direction: row;
  background-color: #2B7A78;
}

.icon-1{
  padding-top: 20px;
}
.navlink:hover{
  text-decoration: none;
  color: white;
}
.navbar-dark {
  background-color: #2B7A78;
}

.test-1{
  background-color: #2B7A78;
  border-style: none;
  margin-left: 20px;
}
.test-1:hover{
  background-color: #2B7A78;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
